.MenuBanner-container {
    display: flex;
    background-color: lightgray;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.MenuBanner-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 25%;
    padding: 30px 20px 30px 20px;
    font-weight: bold;
    background-color: rgba(123, 0, 0, 0.854);
    border-radius: 10px;
}

.MenuBanner-container a:hover {
    color: white;
    cursor: pointer;
}