.header-container {
    display: flex;
    background-color: lightgray;
    align-content: center;
    justify-content: center;
}

.header-container div {
    align-items: center;
    margin: 10px;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(123, 0, 0, 0.854);
    border-radius: 10px;
}

.header-container a:hover {
    color: white;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.business-name {
    font-family: 'Wonton', sans-serif;
    /* font-size: 25px; */
}

@media only screen and (max-width: 1024px) {
    span.text {
        display: none;
    }
}